@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.top-header {
  background: #2d25a0;
  height: 677px;
}
.top-header:hover {
  animation: slider 4s linear 0.3s infinite normal;
}
@keyframes slider {
  0% {
    background-color: #ffd55a;
  }
  50% {
    background-color: #293250;
  }
  100% {
    background-color: #6dd47e;
  }
}

h1 {
  font-size: 64px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

nav {
  padding-top: 42px;
  padding-bottom: 49px;
  display: flex;
  justify-content: space-around;
}
.menu-icon {
  display: none;
  color: white;
  font-size: 24px;
}
nav a {
  text-decoration: none;
  color: white;
  margin-right: 36px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
nav a:hover {
  text-decoration: underline;
}
.top-banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top-banner-text h1 {
  width: 485px;
  color: white;
  margin-top: 0px;
  margin-bottom: 27px;
}

.top-banner-image img {
  width: 556.01px;
  height: 438px;
}

.link-button {
  background: #e02c6d;
  padding: 10px 24px;
  text-decoration: none;
  color: white;
  margin-right: 0px;
}
.link-button:hover {
  background: #ff005d;
}

.blue {
  background-color: #081f2c !important;
}
.wh-50px {
  width: 50px;
  height: 50px;
  flex-basis: 50px;
}

.wh-30px {
  width: 30px;
  height: 30px;
}

@media (min-width: 576px) {
  .w-sm-50 {
    width: 50%;
  }
}

.font-awide {
  font-family: audiowide;
}

h1.text {
  font-family: audiowide;
  font-weight: lighter;
  color: #dbaa17ce !important;
}

.text {
  font-family: audiowide;
  font-weight: lighter;
  color: #dbaa17ce !important;
}

@media only screen and (max-width: 688px) {
  h1 {
    font-size: 36px;
  }
  .top-header {
    width: 100%;
    height: 695px;
  }
  nav {
    padding-top: 33px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 21px;
  }
  .nav-links {
    display: none;
  }
  .menu-icon {
    margin: 3px;
    display: contents;
  }
  nav .link-button {
    padding: 7.47253px 17.9341px;
    margin-right: 0px;
  }
  .top-banner {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .top-banner-text h1 {
    width: 278px;
    height: 138px;
    margin-bottom: 57px;
    margin-top: 46px;
  }
  .top-banner-text a {
    width: 168px;
    height: 100%;
  }
  .top-banner-image img {
    margin-top: 50px;
    width: 329px;
    height: 259.17px;
  }
}
